################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/commonLib/obj
/XDC03Serial/obj
/XDC03Debug/obj
/XDC03_Test_Tool/obj
/XDC01Debug/obj
/XDC01Serial/obj
/XDC01_Test_Tool/obj
/LogLib/obj
/ConfigFileLib/obj
/PCCommand/obj
/TestDataLib/obj
/DSA700Lib/obj
/MyCustomDialog/obj
/RelaySerial/obj
/TDMSerial/obj
/VLCForm/obj
/XDC01_TestAction/obj
/XDC01Action/obj
/CloudAPILib/obj
/CameraRTOSLib/obj
*.log
*.txt

